<h1><%= @art_item.name %></h1>

<p>
   <strong>Price :</strong> <%= @art_item.price %><br />
</p>

<hr />

<p> <%= link_to 'Delete', @art_item, method: :delete %></p>

<%= link_to 'Back', {:action => 'index'} %>
